@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');

/*404 not found page*/
.notfound {
    text-align: center;
    margin: 0 auto;

}

.notfound img {
    width: 50%;
    margin-top: 10%;
}

@media screen and (max-width: 1200px) {
    .notfound img {
        width: 80%;
        margin-top: 20%;
    }
}

@media screen and (max-width: 800px) {
    .notfound img {
        width: 100%;

    }
}

@media screen and (max-width: 600px) {
    .notfound img {
        margin-top: 50%;

    }
}

/*table course*/


/* USER LIST TABLE */
.table-user .user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table-user .user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.table-user .user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

/* TABLES */
.table-user .table {
    border-collapse: separate;
}

.table-user .table-hover>tbody>tr:hover>td,
.table-user .table-hover>tbody>tr:hover>th {
    background-color: #eee;
}

.table-user .table thead>tr>th {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.table-user .table tbody>tr>td {
    font-size: 0.875em;
    background: #f5f5f5;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
}

.table-user .table tbody>tr>td:first-child,
.table-user .table thead>tr>th:first-child {
    padding-left: 20px;
}

.table-user .table thead>tr>th span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.table-user .table thead>tr>th>a span {
    color: #344644;
}

.table-user .table thead>tr>th>a span:after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    font-size: 0.75em;
}

.table-user .table thead>tr>th>a.asc span:after {
    content: "\f0dd";
}

.table-user .table thead>tr>th>a.desc span:after {
    content: "\f0de";
}

.table-user .table thead>tr>th>a:hover span {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}

.table-user .table.table-hover tbody>tr>td {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
}

.table-user .table tbody tr td .call-type {
    display: block;
    font-size: 0.75em;
    text-align: center;
}

.table-user .table tbody tr td .first-line {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
}

.table-user .table tbody tr td .first-line span {
    font-size: 0.875em;
    color: #969696;
    font-weight: 300;
}

.table-user .table tbody tr td .second-line {
    font-size: 0.875em;
    line-height: 1.2;
}

.table-user .table a.table-link {
    margin: 0 5px;
    font-size: 1.125em;
}

.table-user .table a.table-link:hover {
    text-decoration: none;
    color: #2aa493;
}

.table-user .table a.table-link.danger {
    color: #fe635f;
}

.table-user .table a.table-link.danger:hover {
    color: #dd504c;
}

.table-user .table-products tbody>tr>td {
    background: none;
    border: none;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    position: relative;
}

.table-user .table-products tbody>tr:hover>td {
    text-decoration: none;
    background-color: #f6f6f6;
}

.table-user .table-products .name {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}

.table-user .table-products .price {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.table-user .table-products .price>i {
    color: #8dc859;
}

.table-user .table-products .warranty {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.table-user .table-products .warranty>i {
    color: #f1c40f;
}

.table tbody>tr.table-line-fb>td {
    background-color: #9daccb;
    color: #262525;
}

.table tbody>tr.table-line-twitter>td {
    background-color: #9fccff;
    color: #262525;
}

.table tbody>tr.table-line-plus>td {
    background-color: #eea59c;
    color: #262525;
}

.table-stats .status-social-icon {
    font-size: 1.9em;
    vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon {
    color: #556484;
}

.table-stats .table-line-twitter .status-social-icon {
    color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon {
    color: #a75d54;
}

/*list user of course*/
.bold th span {
    font-weight: 700 !important;
}

.bold {
    font-weight: 700 !important;
}

.ml-5 {
    margin-left: 5px;
}

.c-des {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}

.h-85 {
    height: 85vh;
}

/* Create courses*/
/*Contact sectiom*/
#create-courses .content-header {
    font-family: 'Dancing Script', cursive;
    color: #fcc500;
    font-size: 45px;
}

#create-courses .section-content {
    text-align: center;
    color: white;
}

#create-courses {
    font-family: 'Mali', cursive;
    padding-top: 60px;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 70%, #78a2f0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 70%, #78a2f0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 90vh !important;
    position: relative;
}

.create-courses-section {
    padding-top: 40px;
    padding-bottom: 60px;
}

.create-courses-section label {
    color: white;
}

.submit {
    font-size: 1.1em;

    width: 200px;
    color: #fff;
    background-color: #5dd6c6 !important;
    position: absolute;
    right: 50px;
    bottom: 50px;
}